<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Touché</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="static/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="static/img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"  href="static/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome/css/font-awesome.css">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/nivo-lightbox/nivo-lightbox.css">
<link rel="stylesheet" type="text/css" href="static/css/nivo-lightbox/default.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,70" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand page-scroll" href="#page-top">Touché</a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about" class="page-scroll">About</a></li>
        <li><a href="#restaurant-menu" class="page-scroll">Menu</a></li>
        <li><a href="#portfolio" class="page-scroll">Gallery</a></li>
        <li><a href="#call-reservation" class="page-scroll">Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Touché</h1>
            <p>One Step Food</p>
            <a href="#about" class="btn btn-custom btn-lg page-scroll">Discover Story</a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 ">
        <div class="about-img"><img src="static/img/majorabout.jpg" class="img-responsive" alt=""></div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="about-text">
          <h2>Food Order</h2>
          <hr>
          <p>Touche provides online food delivering it is the process of food delivery or takeout from a local restaurants or food cooperative through a web page or app. Much like ordering consumer goods online, many of these services allow customers to keep accounts with them in order to make frequent ordering convenient.</p>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- Restaurant Menu Section -->
<div id="restaurant-menu">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Menu</h2>
      <hr>
      <p>Your diet is a bank account. Good food choices are good investments.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Breakfast & Starters</h2>
          <hr>

          <div class="menu-item">
            <div class="menu-item-name"> Idly </div>
            <div class="menu-item-price"> Rs.35 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Upma </div>
            <div class="menu-item-price"> Rs.45 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Idly & Vada </div>
            <div class="menu-item-price"> Rs.55 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Dosa </div>
            <div class="menu-item-price"> Rs.55 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Puri </div>
            <div class="menu-item-price"> Rs.55 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Sambar Idly </div>
            <div class="menu-item-price"> Rs.60 </div>
          </div>

          <div class="menu-item">
            <div class="menu-item-name"> Chapathi </div>
            <div class="menu-item-price"> Rs.65 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Onion Dosa </div>
            <div class="menu-item-price"> Rs.75 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Uttappam </div>
            <div class="menu-item-price"> Rs.85 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Idly Vada Sambar </div>
            <div class="menu-item-price"> Rs.85 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Masala Dosa </div>
            <div class="menu-item-price"> Rs.88 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Onion Rawa Dosa </div>
            <div class="menu-item-price"> Rs.93 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Drumstick </div>
            <div class="menu-item-price"> Rs.105 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Baby Corn </div>
            <div class="menu-item-price"> Rs.165 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Manchuria </div>
            <div class="menu-item-price"> Rs.115 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Crispy Paneer Cheese Balls </div>
            <div class="menu-item-price"> Rs.185 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Veg Kebab </div>
            <div class="menu-item-price"> Rs.195 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chilly Chicken </div>
            <div class="menu-item-price"> Rs.245 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Lollipop </div>
            <div class="menu-item-price"> Rs.265 </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="menu-section">
          <h2 class="menu-section-title">Main Course</h2>
          <hr>
          <div class="menu-item">
            <div class="menu-item-name"> Curd Rice </div>
            <div class="menu-item-price"> Rs.149 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Biryani Rice </div>
            <div class="menu-item-price"> Rs.182 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Mixed Veg Curry </div>
            <div class="menu-item-price"> Rs.175 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Paneer Tikka Masala </div>
            <div class="menu-item-price"> Rs.175 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Egg Tomato curry </div>
            <div class="menu-item-price"> Rs.176 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Capsicum Curry</div>
            <div class="menu-item-price"> Rs.192 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Paneer Butter Masala </div>
            <div class="menu-item-price"> Rs.203 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Veg Biryani </div>
            <div class="menu-item-price"> Rs.210 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Egg Biryani </div>
            <div class="menu-item-price"> Rs.213 </div>
          </div>

          <div class="menu-item">
            <div class="menu-item-name"> Palak Paneer </div>
            <div class="menu-item-price"> Rs.215 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Curry </div>
            <div class="menu-item-price"> Rs.235 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Paneer Biryani </div>
            <div class="menu-item-price"> Rs.235 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Butter Chicken </div>
            <div class="menu-item-price"> Rs.261 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Biryani </div>
            <div class="menu-item-price"> Rs.267 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Chicken Tikka Masala </div>
            <div class="menu-item-price"> Rs.299 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Mutton Biryani </div>
            <div class="menu-item-price"> Rs.333 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Fish Biryani </div>
            <div class="menu-item-price"> Rs.375 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Prawn Biryani </div>
            <div class="menu-item-price"> Rs.375 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> Butter Prawn </div>
            <div class="menu-item-price"> Rs.336 </div>
          </div>
          <div class="menu-item">
            <div class="menu-item-name"> {{maximum}} </div>
            <div class="menu-item-price"> </div>
          </div>
        </div>
      </div>
    </div>


</div>
<!-- Portfolio Section -->
<div id="portfolio">
  <div class="section-title text-center center">
    <div class="overlay">
      <h2>Gallery</h2>
      <hr>
      <p>The only time to eat diet food is while you're waiting for the steak to cook.</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="categories">
        <ul class="cat">
          <li>
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">All</a></li>
              <li><a href="#" data-filter=".breakfast">Breakfast</a></li>
              <li><a href="#" data-filter=".lunch">Lunch</a></li>
              <li><a href="#" data-filter=".dinner">Dinner</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/Idly.jpg" title="Idly" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Idly</h4>
              </div>
              <img src="static/img/portfolio/Idly.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/dosa.jpg" title="Dosa" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Dosa</h4>
              </div>
              <img src="static/img/portfolio/dosa.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/Chapati.jpg" title="Chapati" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chapati</h4>
              </div>
              <img src="static/img/portfolio/Chapati.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/idlyvada.jpg" title="Idly & Vada" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Idly & Vada</h4>
              </div>
              <img src="static/img/portfolio/idlyvada.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/masaladosa.jpg" title="Masala Dosa" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Masala Dosa</h4>
              </div>
              <img src="static/img/portfolio/masaladosa.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/odosa.jpg" title="Onion Dosa" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Onion Dosa</h4>
              </div>
              <img src="static/img/portfolio/odosa.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/ordosa.jpg" title="Onion Rawa Dosa" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Onion Rawa Dosa</h4>
              </div>
              <img src="static/img/portfolio/Ordosa.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/puri.jpg" title="Puri" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Puri</h4>
              </div>
              <img src="static/img/portfolio/puri.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 dinner">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/sambaridly.jpg" title="SambarIdly" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>SambarIdly</h4>
              </div>
              <img src="static/img/portfolio/sambaridly.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/sambhar.jpg" title="Idlyvada & Sambhar" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Idlyvada & Sambhar</h4>
              </div>
              <img src="static/img/portfolio/sambhar.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/upma.jpg" title="Upma" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Upma</h4>
              </div>
              <img src="static/img/portfolio/upma.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 breakfast">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/uttapam.jpg" title="Uttappam" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Uttappam</h4>
              </div>
              <img src="static/img/portfolio/uttapam.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cbc.jpg" title="Crispy Baby Corn" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Crispy Baby Corn</h4>
              </div>
              <img src="static/img/portfolio/cbc.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cc.jpg" title="Chilly Chicken" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chilly Chicken</h4>
              </div>
              <img src="static/img/portfolio/cc.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cl.jpg" title="Chicken Lollipop" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chicken Lollipop</h4>
              </div>
              <img src="static/img/portfolio/cl.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cp.jpg" title="Crispy Paneer Cheese Balls" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Crispy Paneer Cheese Balls</h4>
              </div>
              <img src="static/img/portfolio/cp.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/d.jpg" title="Chicken Drumstick" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chicken Drumstick</h4>
              </div>
              <img src="static/img/portfolio/d.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/k.jpg" title="Veg Kebab" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Veg Kebab</h4>
              </div>
              <img src="static/img/portfolio/k.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/bc.png" title="Butter Chicken" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Butter Chicken</h4>
              </div>
              <img src="static/img/portfolio/bc.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/bpr.jpg" title="Butter Prawn Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Butter Prawn Biryani</h4>
              </div>
              <img src="static/img/portfolio/bpr.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/br.jpg" title="Biryani Rice" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Biryani Rice</h4>
              </div>
              <img src="static/img/portfolio/br.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cbr.jpg" title="Chicken Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chicken Biryani</h4>
              </div>
              <img src="static/img/portfolio/cbr.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cc.jpg" title="Chicken Curry" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chicken Curry</h4>
              </div>
              <img src="static/img/portfolio/cc.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cpc.jpg" title="Capsicum Curry" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Capsicum Curry</h4>
              </div>
              <img src="static/img/portfolio/cpc.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/cr.jpg" title="Curd Rice" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Curd Rice</h4>
              </div>
              <img src="static/img/portfolio/cr.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/ctm.jpg" title="Chicken Tikka Masala" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Chicken Tikka Masala</h4>
              </div>
              <img src="static/img/portfolio/ctm.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/e.jpg" title="Egg Curry" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Egg curry</h4>
              </div>
              <img src="static/img/portfolio/e.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/eb.jpg" title="Egg Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Egg Biryani</h4>
              </div>
              <img src="static/img/portfolio/eb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/fb.jpg" title="Fish Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Fish Biryani</h4>
              </div>
              <img src="static/img/portfolio/fb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/mb.jpg" title="Mutton Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mutton Biryani</h4>
              </div>
              <img src="static/img/portfolio/mb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/mvc.jpg" title="Mixed Veg Curry" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Mixed Veg Curry</h4>
              </div>
              <img src="static/img/portfolio/mvc.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/pb.jpg" title="Paneer Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Paneer Biryani</h4>
              </div>
              <img src="static/img/portfolio/pb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/pbm.jpg" title="Paneer Butter Masala" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>paneer Butter Masala</h4>
              </div>
              <img src="static/img/portfolio/pbm.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/pp.jpg" title="Palak Paneer" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Palak Paneer</h4>
              </div>
              <img src="static/img/portfolio/pp.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/prb.jpg" title="Prawn Biryani" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Prawn Biryani</h4>
              </div>
              <img src="static/img/portfolio/prb.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 lunch">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="static/img/portfolio/ptm.jpg" title="Paneer Tikka Masala" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4>Paneer Tikka Masala</h4>
              </div>
              <img src="static/img/portfolio/ptm.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->

<!-- Call Reservation Section -->
<div id="call-reservation" class="text-center">
  <div class="container">
    <h2>Want to make a reservation? Call <strong></strong></h2>
  </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title text-center">
      <h2>Contact Form</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed.</p>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-custom btn-lg">Send Message</button>
      </form>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container text-center">
    <div class="col-md-4">
      <h3>Address</h3>
      <div class="contact-item">
        <p>BVRIT Hyderabad College of Engineering For Women</p>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="static/js/jquery.1.11.1.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/SmoothScroll.js"></script>
<script type="text/javascript" src="static/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="static/js/jquery.isotope.js"></script>
<script type="text/javascript" src="static/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="static/js/contact_me.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>